@model IEnumerable<PointsPerGame.Core.Models.ITeamResults>

<h3>
    <a href="/">Home</a>
</h3>

<h4>@Html.Raw(@ViewBag.Source)</h4>

<h2>@ViewBag.Title</h2>

@{
    var grid = new WebGrid(
        source: Model,
        canPage: false,
        canSort: false
        ) {
            SortDirection = SortDirection.Descending
        };

    @grid.GetHtml(
        tableStyle: "teamtable",
        rowStyle: "odd",
        alternatingRowStyle: "even",
        columns: grid.Columns(
            grid.Column("Team", "Team", style: "firstcol", format: (item) => @Html.Raw(string.Format("<img src='{0}' class='team-crest'></img>", @item.Crest) + string.Format("<a href='{0}'>{1}</a>", @item.URL, @item.Team))),
            grid.Column("Played", "Pld"),
            grid.Column("Won", "W"),
            grid.Column("Drawn", "D"),
            grid.Column("Lost", "L"),
            grid.Column("GoalDifference", "GD"),
            grid.Column("Points", "Pts"),
            grid.Column("PointsPerGame", "PPG", @<text>@item.PointsPerGame.ToString("0.00")</text>)))
}